  
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nunito+Sans:400,600|Roboto:400,700&display=swap');
.removeicon-1{fill:#E55151;}.removeicon-1,.removeicon-2{stroke:#000;stroke-miterlimit:10;}.removeicon-2{fill:#830026;stroke-width:0.5px;}
.smallarrow-1{fill:#2719dd;stroke:#000;stroke-miterlimit:10;}
.savespec-1{fill:#006778;}.savespec-2{font-size:50px;fill:#d7a22a;stroke:#000;stroke-miterlimit:10;font-family:Roboto-Bold, Roboto;font-weight:700;}.savespec-3{letter-spacing:-0.01em;}.savespec-4{letter-spacing:-0.01em;}.savespec-5{letter-spacing:-0.02em;}
