  
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nunito+Sans:400,600&display=swap');
.removeicon-1{fill:#E55151;}.removeicon-1,.removeicon-2{stroke:#000;stroke-miterlimit:10;}.removeicon-2{fill:#830026;stroke-width:0.5px;}
.smallarrow-1{fill:#2719dd;stroke:#000;stroke-miterlimit:10;}
