  
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nunito+Sans:400,600|Roboto:400,700&display=swap');
.removeicon-1{fill:#E55151;}.removeicon-1,.removeicon-2{stroke:#000;stroke-miterlimit:10;}.removeicon-2{fill:#830026;stroke-width:0.5px;}
.smallarrow-1{fill:#2719dd;stroke:#000;stroke-miterlimit:10;}
.savespec-1{fill:#006778;}.savespec-2{font-size:50px;fill:#d7a22a;stroke:#000;stroke-miterlimit:10;font-family:Roboto-Bold, Roboto;font-weight:700;}.savespec-3{letter-spacing:-0.01em;}.savespec-4{letter-spacing:-0.01em;}.savespec-5{letter-spacing:-0.02em;}
.menuicon-1,.menuicon-2{fill:#d7a22a;stroke:#000;stroke-miterlimit:10;}.menuicon-1{stroke-width:2px;}.menuicon-2{stroke-width:3px;}
.blackx-1{stroke:#666;stroke-miterlimit:10;}
.folderIcon-1{fill:#edd354;stroke:#b79b13;stroke-miterlimit:10;}
.googlesign-1{fill:#ed355d;}.googlesign-1,.googlesign-2,.googlesign-3,.googlesign-4,.googlesign-5,.googlesign-6{stroke:#000;stroke-miterlimit:10;}.googlesign-2{font-size:71.18px;fill:#fff;stroke-width:0.5px;font-family:NunitoSans-SemiBold, Nunito Sans;font-weight:600;}.googlesign-3{fill:#e9bf06;}.googlesign-4{fill:#ca4b3a;}.googlesign-5{fill:#68a851;}.googlesign-6{fill:#607ef4;}
.appleid-1{fill:#ccc;stroke-width:2px;}.appleid-1,.appleid-3{stroke:#333;stroke-miterlimit:10;}.appleid-2{font-size:41.48px;font-family:NunitoSans-Regular, Nunito Sans;}.appleid-3{fill:#fff;stroke-width:0.5px;}
.loginnow-1{fill:#006073;}.loginnow-1,.loginnow-2{stroke:#000;stroke-miterlimit:10;}.loginnow-2{font-size:87.71px;fill:#fff;stroke-width:0.25px;font-family:NunitoSans-SemiBold, Nunito Sans;font-weight:600;}.loginnow-3{letter-spacing:0em;}.loginnow-4{letter-spacing:-0.01em;}
.savespecs-1{fill:#006778;}.savespecs-2{font-size:50px;fill:#d7a22a;stroke:#000;stroke-miterlimit:10;font-family:Roboto-Bold, Roboto;font-weight:700;}.savespecs-3{letter-spacing:-0.01em;}.savespecs-4{letter-spacing:-0.01em;}
.saveicon-1{fill:#006778;}.saveicon-2{font-size:50px;fill:#d7a22a;stroke:#000;stroke-miterlimit:10;font-family:Roboto-Bold, Roboto;font-weight:700;}.saveicon-3{letter-spacing:-0.01em;}.saveicon-4{letter-spacing:-0.01em;}
.saveestimate-1{fill:#006778;}.saveestimate-2{font-size:50px;fill:#d7a22a;stroke:#000;stroke-miterlimit:10;font-family:Roboto-Bold, Roboto;font-weight:700;}.saveestimate-3{letter-spacing:-0.01em;}.saveestimate-4{letter-spacing:-0.01em;}
.dropicon-1{fill:#999;}.dropicon-1,.dropicon-2{stroke:#000;stroke-miterlimit:10;}
.checkclientidicon-1 {fill: #005c02;}.checkclientidicon-1,.checkclientidicon-2 { stroke: #001700; stroke-miterlimit: 10;}.checkclientidicon-2 {fill: #e8bc00; stroke-width: 0.5px;}
.menuicon-1{fill:#D7A22A;stroke:#000;stroke-miterlimit:10;}
.saveprofile-1{fill:#006778;}.saveprofile-2{font-size:50px;fill:#d7a22a;stroke:#000;stroke-miterlimit:10;font-family:Roboto-Bold, Roboto;font-weight:700;}.saveprofile-3{letter-spacing:-0.01em;}.saveprofile-4{letter-spacing:-0.01em;}.saveprofile-5{letter-spacing:-0.02em;}
.headerFont{
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
.addStroke{
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}
.createlink:hover{
  cursor:pointer;
}
.hidescroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hidescroll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
